@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
    </div>

    @*<table>
        <tr>
            <td>
                PC Name: 
            </td>
            <td>
                @ViewBag.pcName
                @ViewBag.pcName1

            </td>
        </tr>
        <tr>
            <td>
                OS Name: 
            </td>
            <td>
                @ViewBag.osName
                @ViewBag.osName1
            </td>
        </tr>
        <tr>
            <td>
                OS Version: 
            </td>

            <td>
                @ViewBag.osVersion
                @ViewBag.osVersion1
            </td>
        </tr>
        <tr>
            <td>
                Input Language: 
            </td>

            <td>
                @ViewBag.inputLocale
                @ViewBag.inputLocale1
            </td>
        </tr>
        <tr>
            <td>
                System Language: 
            </td>

            <td>
                @ViewBag.systemLocale
                @ViewBag.systemLocale1
            </td>
        </tr>
        <tr>
            <td>
                CPU: 
            </td>

            <td>
                @ViewBag.cpuIfo
                @ViewBag.cpuIfo1
            </td>
        </tr>
        <tr>
            <td>
                Disk Capacity: 
            </td>

            <td>
                @ViewBag.diskCapacity
                @ViewBag.diskCapacity1
            </td>
        </tr>
        <tr>
            <td>
                Total Physical Memory: 
            </td>

            <td>
                @ViewBag.totalPhysicalMemory
                @ViewBag.totalPhysicalMemory1
            </td>
        </tr>

    </table>*@
